.box{
 transform-style: preserve-3d;
  /*-webkit-perspective:150px;*/
  perspective: 10000px;
  width:186px;
  height:186px;
  position: relative;
  transform-origin: center;
  animation: spin 23s linear infinite;

}
.box:hover .out-box1 {
  transform: translateZ(186px);
}
.box:hover .out-box2 {
  transform: translateZ(-186px)rotateY(-180deg);
}
.box:hover .out-box3 {
  transform: translate(-186px)rotateY(-90deg);
}
.box:hover .out-box4 {
  transform: translate(186px)rotateY(90deg);
}
.box:hover .out-box5 {
transform: rotateZ(-90deg)translateX(186px)rotateY(90deg);
}

.box:hover .out-box6 {
  transform: translateY(186px)rotateX(-90deg);
}
.box:hover .out-box1 {
  transform: translateZ(186px);
}
.box:hover .out-box2 {
  transform: translateZ(-186px)rotateY(-180deg);
}
.box:hover .out-box3 {
  transform: translate(-186px)rotateY(-90deg);
}
.box:hover .out-box4 {
  transform: translate(186px)rotateY(90deg);
}
.box:hover .out-box5 {
  transform: rotateZ(-90deg)translateX(186px)rotateY(90deg);
}

.box:hover .out-box6 {
  transform: translateY(186px)rotateX(-90deg);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.box div[class^=out] {
  height:186px;
  width:186px;
  opacity: 0.4;
  background-size: 186px 186px;
  transition: all 0.5s ease;
  position: absolute;
}
.box div[class^=inner] {
  height:92px;
  width:92px;
  opacity: 0.9;
  background-size: 92px 92px;
  transition: all 0.5s ease;
  position: absolute;
}
.out-box1{
  background:  url("../assets/img/1.jpg");
  transform: translateZ(93px);
}
.out-box2{
  background:url("../assets/img/2.jpg");
  transform: translateZ(-93px)rotateY(-180deg);
}
.out-box3{
  background:url("../assets/img/3.jpg");
  transform: translate(-93px)rotateY(-90deg);
}
.out-box4{
  background: url("../assets/img/4.jpg");
  transform: translate(93px)rotateY(90deg);
}
.out-box5{
  background:url("../assets/img/5.jpg");
  transform: rotateZ(-90deg)translateX(93px)rotateY(90deg);
}
.out-box6{
  background: url("../assets/img/6.jpg");
  transform: translateY(93px)rotateX(-90deg);
}

.box:hover .inner-box1 {
  transform: translate3d(46px,46px,92px);
}
.box:hover .inner-box2 {
  transform: translate3d(46px,46px,-92px)rotateY(-180deg);
}
.box:hover .inner-box3 {
  transform: translateY(46px)translate(-46px)rotateY(-90deg);
}
.box:hover .inner-box4 {
  transform: translate(128px)translateY(46px)rotateY(90deg);
}
.box:hover .inner-box5 {
  transform: translate(46px)translateY(-46px)rotateX(-90deg);
}

.box:hover .inner-box6 {
  transform: translateY(128px)translate(46px)rotateX(-90deg);
}
.inner-box1{
  background-image: url("../assets/img/7.jpg");
  transform: translate3d(46px,46px,46px);
}
.inner-box2{
  background-image: url("../assets/img/8.jpg");
  transform: translate3d(46px,46px,-46px)rotateY(-180deg);
}
.inner-box3{
  background-image: url("../assets/img/9.jpg");
  transform: translateY(46px)rotateY(-90deg);
}
.inner-box4{
  background-image: url("../assets/img/10.jpg");
  transform: translate(92px)translateY(46px)rotateY(90deg);
}
.inner-box5{
  transform: translate(46px)rotateX(-90deg);
  background-image: url("../assets/img/11.jpg")
}
.inner-box6{
  background-image: url("../assets/img/12.jpg");
  transform: translateY(92px)translate(46px)rotateX(-90deg);
}
@keyframes spin{
  /*0% {*/
    /*transform: rotate3d(1,1,1,360deg);*/
  /*}*/
  /*20%{*/
    /*transform: rotate3d(3,1,1,180deg);*/
  /*}*/
  /*40% {*/
    /*transform: rotate3d(3,3,3,360deg);*/
  /*}*/
  /*60% {*/
    /*transform: rotateX(360deg) rotateY(0deg);*/
  /*}*/
  /*80% {*/
    /*transform: rotateX(360deg) rotateY(180deg);*/
  /*}*/
  0% {}
  50% {transform:  rotateX(90deg)rotateY(90deg)rotateZ(90deg)}
  60% {transform:  rotateY(-180deg)rotateZ(90deg)}
  100% {
    transform:  rotateX(360deg)rotateY(-90deg)
  }
}
