<div class="container">
  <div class="box">
    <!-- 外部盒子 -->
    <div class="out-box1"></div>
    <div class="out-box2"></div>
    <div class="out-box3"></div>
    <div class="out-box4"></div>
    <div class="out-box5"></div>
    <div class="out-box6"></div>
    <!-- 里面盒子 -->
    <div class="inner-box1"></div>
    <div class="inner-box2"></div>
    <div class="inner-box3"></div>
    <div class="inner-box4"></div>
    <div class="inner-box5"></div>
    <div class="inner-box6"></div>
  </div>
</div>
